---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}
<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>
      <br />
      <br />
{% for category in site.categories %} 
      <div class="page-header">
          <h1 id="{{ category[0]}}-ref">{{ category[0] | join: "/" }}<small></small></h1>
      </div>
      <ul  class="ul_history unstyled">
    {% assign pages_list = category[1] %}  
    {% include JB/cus_pages_list %}
      </ul>
      <br />
      <br />
      <br />

{% endfor %}

