---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>
<br />
<br />
{% for tag in site.tags %} 
      <div class="page-header">
          <h1 id="{{ tag[0]}}-ref">{{ tag[0] }}<small></small></h1>
      </div>
      <ul  class="ul_history unstyled">
    {% assign pages_list = tag[1] %}  
    {% include JB/cus_pages_list %}
  </ul>
<br />
<br />
<br />
{% endfor %}
